/*stylesheet for etch a sketch*/

.grid-square {
    border-color: black;
    border-style: solid;
    background-color: white;
    display: flex;
    width: 20px;
    height: 20px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.grid-square-right-end {
    border-color: black;
    border-style: solid;
    background-color: white;
    display: flex;
    width: 20px;
    height: 20px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}

.grid-square-bottom-end {
    border-color: black;
    border-style: solid;
    background-color: white;
    display: flex;
    width: 20px;
    height: 20px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}

.grid-square-bottom-right {
    border-color: black;
    border-style: solid;
    background-color: white;
    display: flex;
    width: 20px;
    height: 20px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.grid-container {
    display: flex;
}